CESIUM_ION_ACCESS_TOKEN=isi_token_cesium_ion
CESIUM_ION_3D_TILES_ASSET_ID=123456
CESIUM_3D_TILES_JSON_URL=assets/tileset/tileset.json
CESIUM_GEOJSON_OVERLAY_ASSET_ID=234567
CESIUM_GEOJSON_OVERLAY_URL=assets/data/overlay.geojson
